*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.header {
	min-height:100vh;
width:100%;
background-image:linear-gradient(rgba(229, 231, 236, 0.7),rgba(96, 110, 168, 0.7));
background-position:center;
background-size:cover;
position:relative;
}
.logo img {
    width: 250px;
    height: auto;
    transition: transform 0.3s ease;
}

nav{
	display:flex;
	padding:3% 6%;
	height:80px;
	justify-content:space-between;
	align-items:center;
	padding-right: 15px;
	padding-left: 15px;
}
nav img{
	width:150px;
	position: absolute;
	top: 17px;
	left: 25px;
	
}
.nav-links ul li{
	float: left;
list-style:none;
display:inline-block;
padding:10px 12px;
padding-right: 100;
position:relative;
left: 10px;
}

.nav-links ul li a{
color:#080808;
font-size:20px;
text-decoration:none
}

.nav-links ul li::after{
	content:'' ;
	width:0%;
	height:2px;
	background:#f44336;
	display:block;
	margin:auto;
	transition:0.8s;
}

.nav-links ul li:hover::after{
	width:100%
}
.text-box{
width:90%;
color:#fff6f6;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}
.text-box h1{
font-size: 62px;
}
.text-box p{
margin: 10px 0 40px;
font-size:25px;
color: #f3eded;
}

@media(max-width:700px){
    .text-box h1{
	font-size:20px;
    }
      .nav-links ul li{
	  display:block;
	  }
	  
}

.Departments  {
	width:805;
	margin:outo;
	text-align:center;
	padding-top:100px;
	
}
h1{
	font-size:66px;
	font-weight:700;
	text-align:center;
	line-height:100px;
	padding:10px;
    color: #1e2446;
}
p{
	color:#040711;
	font-size:20px;
	font-weight:300;
	text-align:center;
	line-height:25px;
	padding:10px;

}
.row{
	
	margin-top:5%;
	display:flex;
	justify-content:space-between;
}

.col:hover{
	box-shadow:0 0 30px 0px rgba(12, 12, 12, 0.2);
    
}
h3{
text-align:center;
font-weight:600px;
margin:19px 0;
}

@media(max-width:700px){
	
	.row{
		flex-direction:column;
	}
}
.section-header{
	text-transform: uppercase;
	padding-bottom: 30px;
	font-size: 55px;
	color: #262626;
	letter-spacing: 3px;
	height: auto;
}
.content{
	padding: 10%;
}
.content h2{
	text-transform: uppercase;
	font-size: 30px;
	color: #262626;
	height: auto;
}
.main-content{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-row-gap: 25px; ;
	grid-column-gap:25px ;
}
.main-content .box{
	position:relative;
	cursor: pointer;
	margin: 15px;
	box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
	height: 250px;
	overflow: hidden;
}
.main-content .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	transition: all 0.5s ease-in-out;
}
.main-content .box:hover::before{
	top: 0;
	right: calc(100% - 5px);
	z-index: 8;
}
.main-content .box img{
	width: 250px;
	height: 250px;
	object-fit: cover;
}
.main-content .box .img-text{
	position:absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 800px;
    inline-size:auto;
}


  /* Style the header */
  header {
    background-image:linear-gradient(rgba(62, 81, 158, 0.7),rgba(10, 15, 36, 0.7)),url();
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(15, 14, 14);
  }
  
    
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-image:linear-gradient(rgba(62, 81, 158, 0.7),rgba(10, 15, 36, 0.7)),url();
    padding: 10px;
    text-align: center;
    color: rgb(3, 3, 3);
  }
  
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: #fff;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f44336;
}
.bottom-bar{
    background-image:linear-gradient(rgba(62, 81, 158, 0.7),rgba(10, 15, 36, 0.7)),url();
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #0c0c0c;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
